  .card {
      margin: auto;
      max-width: 950px;
      width: 90%;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 1rem;
      border: transparent;
   
  }
  
  
  
  .cart {
      background-color: #fff;
      padding: 3vh 5vh;
      border-bottom-left-radius: 1rem;
      border-top-left-radius: 1rem;
      font-family: 'Montserrat';
    font-size: 16px;   
    font-weight: 500;
    color: #000000;
    line-height: 1.5;
    margin-top: 10px;
  }
  
  @media(max-width:767px) {
      .cart {
          padding: 4vh;
          border-bottom-left-radius: unset;
          border-top-right-radius: 1rem
      }
  }
  
  .summary {
      background-color: rgb(58, 61, 255);
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      padding: 4vh;
      color: rgb(255, 255, 255);
      font-family: 'Montserrat';
      font-size: 16px;   
      font-weight: 500;
      
  }
  
  @media(max-width:767px) {
      .summary {
          border-top-right-radius: unset;
          border-bottom-left-radius: 1rem
      }
  }
  
  
  
  .row {
      margin: 0
  }
  

.float-child {
    width: 50%;
    float: left;
    padding: 10px;
    margin-top: -7ex;
}                                     
