
.smm-feature-innerbox:after {
  left: 0;
  right: 0;
  width: 0%;
  bottom: 0;
  height: 4px;
  content: "";
  margin: 0 auto;
  position: absolute;
  background-color: #ff5722;
  transition: 0.4s all ease-in-out;
}
.smm-feature-innerbox .smm-feature-icon {
  margin-right: 25px;
}
.smm-feature-innerbox .smm-feature-icon i {
  font-size: 60px;
  line-height: 1;
}
.smm-feature-innerbox h3 {
  font-size: 20px;
  margin-top: 5px;
  max-width: 160px;
  font-weight: 600;
  display: inline-block;
}
.smm-feature-innerbox .smm-feature-text {
  width: 100%;
  margin-top: 15px;
  display: inline-block;
}
.smm-feature-innerbox:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 45, 170, 0.04);
}
.smm-feature-innerbox:hover:after {
  width: 100%;
}
.smm-feature-innerbox {
  padding: 40px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  margin-bottom: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 0.3s all ease-in-out;
}
.saas_two_section_title h2, .saas_two_banner_section .s2-banner_content h1, .saas_two_about_section .s2-about_text_icon .s2-about_text h3, .saas_two_feature_section .s2-feature_text h2, .integration_section .integration_text h2, .saas_two_team_section .s2-team_img_text .s2_name_info h3 {
  font-weight: 400;
  color: #010101;
}
.dark-version .saas_two_banner_section {
  background-color: #000000;
}
.saas_two_section_title .title_tag, .saas_two_banner_section .s2-banner_content .s2-tilte_tag, .saas_two_feature_section .s2-feature_text .feature_tag, .integration_section .integration_text .feature_tag {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 3px 30px;
  border-radius: 8px;
  display: inline-block;
  background-color: #1877f2;
}
.text-gradient__indigo-red {
  padding-right: 0.05em;
  background-image: linear-gradient(207deg,#ef4848 23%,#6366f1 87%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.saas_two_main_header .saas_sign_up_btn {
  height: 55px;
  width: 175px;
  float: right;
  line-height: 55px;
  border-radius: 30px;
  background-color: #1877f2;
}
.dark-version .saas_two_main_header, .dark-version .saas_two_feature_section .s2-feature_right .s2-feature_list {
  background-color: #00050b;
}
.dark-version .saas_two_team_section .s2-team_img_text .s2_name_info .s2-designation {
  color: #1877f2;
}
.saas_two_team_section .s2-team_img_text .s2_name_info .s2_mem_contact span i {
  color: #ffffff;
  margin-right: 8px;
}
.saas_two_team_section .s2-team_img_text:hover .s2-share_btn {
  background-color: #00050b;
}
.saas_two_team_section .s2-team_img_text .s2-mem_social .s2-share_btn {
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 100%;
  transition: 0.3s all ease-in-out;
  background-color: #1877f2;
}
.saas_two_team_section .s2-team_img_text .s2-mem_social:after {
  bottom: 20px;
  z-index: -1;
  content: "";
  width: 50px;
  height: 0%;
  opacity: 0;
  border-radius: 35px;
  position: absolute;
  visibility: hidden;
  background-color: #002351;
  transition: 0.5s all ease-in-out;
}
.saas_two_team_section .s2-team_img_text .s2_tean_img:before, .saas_two_team_section .s2-team_img_text .s2_tean_img:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 100%;
  border: 0px solid #1877f2;
  z-index: 1;
  transition: 0.3s all ease-in-out;
}
#s2_team_slide .owl-nav {
  text-align: center;
  display: table;
  margin: 35px auto 0;
  padding-top: 3px;
  border-radius: 20px;
  background-color: #77b2ff;
}
.s2-pricing_section .s2-pricing_item .s2-pricing_price {
  background-color: #0064cc;
  padding: 40px 50px
px
25px;
  margin-bottom: 25px;
  z-index: 1;
}
.dark-version .s2-pricing_section .s2-pricing_item {
  background-color: #00050b;
}
.s2-pricing_section .s2-pricing_item .s2-pricing_btn a {
  height: 45px;
  width: 160px;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  margin-right: 20px;
  font-weight: 700;
  color: #010101;
  font-family: "Poppins";
  display: inline-block;
  border: 2px solid #0064cc;
}
.s2-pricing_section .s2-pricing_item .s2-pricing_price .pricing_icon:after {
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: visible;
  position: absolute;
  border-radius: 8px;
  transform: scale(0.5);
}
.saas_two_footer_section .s2-newslatter_section {
  top: -90px;
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
  border-radius: 20px;
  padding: 45px 0px 60px;
  background-color: #0064cc;
  box-shadow: 0px 0px 16px 0px rgb(27 2 52 / 34%);
}

.saas_two_footer_section:before {
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/saas-c/banner/fog.png);
}
.saas-classic.dark-version {
  background: #000000;
}
.saas_two_footer_section {
  z-index: 1;
  margin-top: 64px;
  padding: 0px 0px 65px;
}
.saas_two_footer_section .s2_footer_widget .s2_footer_about span {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 8px;
}
.saas_two_footer_section .s2_footer_widget .s2_footer_social form input {
  height: 45px;
  background-color: #446288;
  border: none;
  color: white;
  width: 100%;
  padding-left: 30px;
}
.saas_two_footer_section .s2_footer_widget .s2_footer_social form button {
  color: #fff;
  width: 62px;
  border: none;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #1877f2;
}
.saas-classic-scrollup {
  width: 55px;
  right: 20px;
  z-index: 5;
  height: 55px;
  bottom: 20px;
  display: none;
  position: fixed;
  border-radius: 100%;
  line-height: 55px;
  background-image: linear-gradient(-45deg, #00a0ff 32%, #6b2c94 100%);
}
.saas_two_main_header .s2-main-navigation .navbar-nav li a:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: #1877f2;
  left: 2px;
  transition: 0.3s all ease-in-out;
  bottom: 25px;
}
.saas_btn:before, .service_read_more a:after, .saas_two_about_section .s2-about_text_icon .s2-about_text a:after, .integration_section .integration_text a:after, .saas_two_banner_section .s2-banner_content .banner_btn a i, .saas_two_feature_section .s2-feature_text .saas_btn a i, .s2-pricing_section .s2-pricing_item .s2-pricing_btn a i {
  background: linear-gradient(-45deg, #1877f2 32%, #fc01fd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.saas_btn a {
  font-size: 15px;
  font-weight: 700;
  border-radius: 30px;
  display: inline-block;
  border: 2px solid #1877f2;
}
/* :: Preloader CSS */
#preloader {
  background-color: #f1f2fb;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  top: 0;
  left: 0;
  overflow: hidden; }
  .loader{
    position: absolute;
    left:50%;
    margin-top:4rem;
    transform: translate(-50%, -50%);
    height:5px;
    width:15rem;
    background-color:lightgrey;
  }
  .loading{
    background-color: #0e76a8;  
    width:5rem;
    height:5px;
    animation: animation 1.8s infinite;
  }
  .part1{
    font-weight:600;
    font-size:2rem;
    color: #0e76a8;  
    margin-left: 0.7rem;
  
  }
  .part2{
    background-color: #0e76a8;
    border-radius:5px;
    color:white;
    padding-left:01.5rem;
    padding-right:0.5rem;
    font-weight:600;
    font-size:4rem;
    margin-left: 1.5rem;
  }
 
  .part3{
    font-weight:600;
    font-size:2rem;
    color: #0e76a8;  
    margin-left: -0.8rem;
  
  }
  .container1{
    display:flex;
    flex-direction:row;
  }
  .div2 {
    font: 800 40px system-ui;
    font-weight: 600;
    font-size: 2.5rem;
    color: #0e76a8;
    margin-right: 1rem;
  }
  [data-theme="dark"] body #preloader {
    background-color: #0C153B; }



/***--------------------------------------------------------//
***/

#w-node-_7deaa98e-7414-d24d-c91e-843b210ac43c-afa8f4e4, #w-node-e88ea24b-d518-0b8a-f480-1272223fca53-e2a8f4e0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

.max-width-xl {
  width: 100%;
  max-width: 40em;
}
.content-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.browser-mockup.outline {
  border-style: solid solid none;
  border-width: 1px;
  border-color: rgba(100,116,139,.25);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.browser-mockup {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 0.5em;
}

.browser-top-bar.underlined.white {
  border-bottom-color: rgba(100,116,139,.25);
}

.browser-top-bar.underlined {
  border-bottom: 1px solid #20262d;
}
.browser-top-bar {
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 1.25em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'ICONS FILLED',sans-serif;
  color: #474f58;
}
.browser-window {
  position: relative;
  padding: 1.15em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.code-list.text-color-slate-600 {
  color: #64768b;
}

.code-list {
  width: 100%;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
.code-row {
  position: relative;
  overflow: hidden;
  width: 800%;
  grid-column-gap: -162em;
  grid-row-gap: 68em;
  -ms-grid-columns: 2em 1fr;
  grid-template-columns: 2em 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-family: 'Calling Code',sans-serif;
  white-space: nowrap;
}
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
.code-row {
  position: relative;
  overflow: hidden;
  width: 800%;
  grid-column-gap: -162em;
  grid-row-gap: 68em;
  -ms-grid-columns: 2em 1fr;
  grid-template-columns: 2em 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-family: 'Calling Code',sans-serif;
  white-space: nowrap;
}
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
.text-color-red-400 {
  color: #f87575;
}
.text-color-cyan-400 {
  color: #22d3ee;
}
.code-list.text-color-slate-600 {
  color: #64768b;
}
div {
    display: block;
}
.code-row {
  position: relative;
  overflow: hidden;
  width: 800%;
  grid-column-gap: -162em;
  grid-row-gap: 68em;
  -ms-grid-columns: 2em 1fr;
  grid-template-columns: 2em 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-family: 'Calling Code',sans-serif;
  white-space: nowrap;
}
.code-list.text-color-slate-600 {
  color: #64768b;
}
.browser-mockup {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 0.5em;
}

.content-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}
.content-centered {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
