
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VectorCrop - Software Development Agency.</title>
    <meta property="og:title" content="VectorCrop - Software Development Agency.">
    <meta property="og:description" content="inspire the next || Meet your future goals with VectorCrop. || We will deliver you marketing and technology solutions in the best way.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/fontawesome-all.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/dark-version.css">
    <link rel="stylesheet" href="css/smm.css">
    <meta property="og:image" content="https://www.vectorcrop.com/social.jpg">
    <meta property="og:image:secure_url" content="https://www.vectorcrop.com/social.jpg">
    <meta property="og:image:alt" content="VectorCrop">

</head>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3987679242106578"
     crossorigin="anonymous"></script>



<body class="saas-classic dark-version">
    <!-- preloader - start -->


     <div class="preloader d-flex align-items-center justify-content-center" id="preloader">
    <div class="container1">
      <div class="div2" id="value"></div>
      <div class="part3">
        
      </div>
      <div class="part1">
        Welcome to Admin Panel.
      </div>
    </div><br><br>


    <div class="loader">
      <div class="loading">
      </div>
         </div>
  </div>
  

    <div class="up">
        <a href="#" id="scrollup" class="saas-classic-scrollup text-center"><i class="fas fa-angle-up"></i></a>
    </div>

    <!-- Start of header section
        ============================================= -->
        <header id="header_main" class="saas_two_main_header">
            <div class="container">
                <div class="s_main_menu">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="brand_logo">
                                <h3 class="" style="font-weight: 800; color: white;">Admin <font color="#1877f2">Panel</font></h3>
                                <!-- <img src="assets/images/logo.png" width="10%" alt=""> -->

                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="main_menu_list clearfix float-right">
                                <nav class="s2-main-navigation  clearfix ul-li">
                                    <ul id="main-nav" class="navbar-nav text-capitalize clearfix">
                                        <li><a href="#home">Home</a></li>
                                        <li><a href="#about">About</a></li>
                                        <li><a href="#features">Features</a></li>
                                        <li><a href="#team">Team</a> </li>
                                        <li><a href="#pricing">Pricing</a></li>
                                        <li><a href="#contact">Contact</a></li>

                                    </ul>
                                </nav>
                                <!-- <div class="saas_sign_up_btn text-center">
                                    <a href="#!"> Free sign up</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //desktop menu -->
                <div class="s2-mobile_menu relative-position">
                    <div class="s2-mobile_menu_button s2-open_mobile_menu">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="s2-mobile_menu_wrap">
                        <div class="mobile_menu_overlay s2-open_mobile_menu"></div>
                        <div class="s2-mobile_menu_content">
                            <div class="s2-mobile_menu_close s2-open_mobile_menu">
                                <i class="far fa-times-circle"></i>
                            </div>
                            <div class="m-brand-logo text-center">
                                <a href="!#"> <h3 class="" style="font-weight: 800; color: rgb(0, 0, 0);">Vector<font color="#1877f2">Crop</font></h3></a>
                            </div>
                            <nav class="s2-mobile-main-navigation  clearfix ul-li">
                             <ul id="m-main-nav" class="navbar-nav text-capitalize clearfix">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#features">Features</a></li>
                                <li><a href="#team">Team</a> </li>
                                <li><a href="#pricing">Pricing</a></li>
                                <li><a href="#conatct">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End of header section
        ============================================= -->

  {{{body}}}


   <!-- Start of footer section
        ============================================= -->
        <footer id="contact" class="saas_two_footer_section relative-position" style="background-color: black;">
           <br>
            <div  id="contact" class="footer_content pera-content" style="background-color: black;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <div class="s2_footer_widget clearfix ul-li-block  saas2-headline">
                                <div class="s2_footer_about">
                                    <div class="s2-footer_logo">
                                        <h2 class="" style="font-weight: 800; color: white;">Vector<font color="#1877f2">Crop</font></h2>                                
                                        </div>
                                    <div class="footer_about">
                                        Calicut, Kerala
                                        India
                                    </div>
                                    <span><i class="fas fa-phone"></i> Ajzal : +91 80 7833 4505<br> <i class="fas fa-phone"></i> Sahil : +91 94867 86436<br> <i class="fas fa-phone"></i> Mishab : +91 9947 1546 91 <br><br><br><i class="fas fa-envelope"></i> thevectorcrop@gmail.com</span>
                                   
                                </div>
                            </div>
                        </div>
                  
                        <div class="col-lg-4 col-md-12">
                            <div class="s2_footer_widget clearfix ul-li-block saas2-headline">
                                <div class="s2_footer_social">
                                    <h3 class="s2_widget_title">
                                        <span>Newsletter</span> 
                                        <i></i>
                                    </h3>
                                    <p>Send us a newsletter to get update</p>
                                    <form action="#">
                                        <font color="white">
                                        <input  name="email" type="email" placeholder="Enter your email address"></font>
                                        <button  type="submit" value="Submit"> <i class="fas fa-paper-plane"></i></button>
                                    </form>
                                    <!-- <a href="#"><i class="fb-bg fab fa-facebook-f"></i></a> -->
                                    <a href="https://github.com/vectorcrop"><i class="tw-bg fab fa-github"></i></a>
                                    <a href="https://www.instagram.com/vector_crop/"><i class="bh-bg fab fa-instagram"></i></a>
                                   
                                    <a href="https://api.whatsapp.com/send/?phone=8078334505&text&app_absent=0"><i class="dr-bg fab fa-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="s2-copyright text-center">2022 © All rights reserved by <a href="https://www.Vectorcrop.com">  <font color="#1877f2">VectorCrop</font></a></div>
    <!-- End of footer section 
        ============================================= -->

        <!-- JS library -->
        <script>
            function animateValue(obj, start, end, duration) {
              let startTimestamp = null;
              const step = (timestamp) => {
                if (!startTimestamp) startTimestamp = timestamp;
                const progress = Math.min((timestamp - startTimestamp) / duration, 1);
                obj.innerHTML = Math.floor(progress * (end - start) + start);
                if (progress < 1) {
                  window.requestAnimationFrame(step);
                }
              };
              window.requestAnimationFrame(step);
            }
        
            const obj = document.getElementById("");
            animateValue(obj, 0, 100, 3000);
          </script>
        <script src="js/jquery.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/slick.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/pagenav.js"></script>
        <script src="js/jquery.barfiller.js"></script>
        <script src="js/parallax-scroll.js"></script>
        <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="js/script.js"></script>
    </body>
    </html>


  